<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924765570351-he4pi6tc6pviftf78rplgtm26hcce80r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924765570351-he4pi6tc6pviftf78rplgtm26hcce80r</string>
	<key>API_KEY</key>
	<string>AIzaSyBClSzmFySrOuUFUBQTRPjSspd7dJU9cs4</string>
	<key>GCM_SENDER_ID</key>
	<string>924765570351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.udesh.wings</string>
	<key>PROJECT_ID</key>
	<string>new-app-5b696</string>
	<key>STORAGE_BUCKET</key>
	<string>new-app-5b696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924765570351:ios:ea08896146c3d2b1e3cdda</string>
</dict>
</plist>